.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: start;
}

th {
  background-color: #f2f2f2;
}
